<script>
  import {
    addDoc,
    collection,
    onSnapshot,
    deleteDoc,
    doc,
    updateDoc,
  } from "firebase/firestore";
  import { onDestroy } from "svelte";
  import { db } from "./firebase";
  import Toastify from "toastify-js";

  let task = {
    title: "",
    description: "",
  };

  let tasks = [];
  let editStatus = false;
  let currentId = "";

  const addTask = async () => {
    try {
      await addDoc(collection(db, "tasks"), {
        ...task,
        createdAt: new Date(),
      });
      console.log("Task saved");
      Toastify({
        text: "New task created",
      }).showToast();
    } catch (error) {
      console.log(error);
    }
  };

  const updateTask = async () => {
    try {
      await updateDoc(doc(db, "tasks", currentId), task);
    } catch (error) {
      console.log(error);
    }
  };

  const handleSumit = async () => {
    // e.preventDefault(task);
    try {
      if (!editStatus) {
        addTask();
      } else {
        updateTask();
      }
    } catch (error) {
      console.log(error);
    }

    task = {
      title: "",
      description: "",
    };
    editStatus = false;
    currentId = "";
  };

  const deleteTask = async (id) => {
    try {
      // TODO: confirm alert pending
      // throw new Error('testing error')
      await deleteDoc(doc(db, "tasks", id));
      // console.log('Task deleted')
      Toastify({
        text: "Task deleted",
        style: {
          background: "red",
        },
      }).showToast();
    } catch (error) {
      console.log(error);
    }
  };

  const editTask = (currentTask) => {
    task.title = currentTask.title;
    task.description = currentTask.description;
    currentId = currentTask.id;
    editStatus = true;
  };

  const unsub = onSnapshot(
    collection(db, "tasks"),
    (querySnapshot) => {
      tasks = querySnapshot.docs.map((doc) => {
        return { ...doc.data(), id: doc.id };
      });

      console.log(tasks);
    },
    (err) => {
      console.log(err);
    }
  );

  onDestroy(unsub);
</script>

<main>
  <div class="container p-4">
    <div class="col-md-6">
      <form on:submit|preventDefault={handleSumit} class="card card-body p-5">
        <div class="mb-3">
          <label for="title" class="text-secondary fs-5">Title</label>
          <input
            bind:value={task.title}
            type="text"
            placeholder="Write a Title"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="description">Destription</label>
          <textarea
            bind:value={task.description}
            id="description"
            rows="3"
            placeholder="Write a Description"
            class="form-control"
          />
        </div>

        <div>
          <button class="btn btn-primary"> Save </button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      {#each tasks as task}
        <div class="card card-body mt-2">
          <div class="d-flex justify-content-between">
            <h5>{task.title}</h5>
            <i class="material-icons" on:click={editTask(task)}>edit</i>
          </div>

          <p>{task.description}</p>
          <div>
            <button class="btn btn-danger" on:click={deleteTask(task.id)}>
              <i class="material-icons" style="vertical-align: middle;"
                >delete_forever</i
              > Delete
            </button>
          </div>
        </div>
      {/each}
    </div>
  </div>
</main>

<style>
</style>
